POSTGRES_DB=minitalk
POSTGRES_USER=minitalk
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_PORT=5432

MONGO_DB=minitalk
MONGO_PORT=27017

REDIS_PASSWORD=your_redis_password_here
REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password_here
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

TURN_USER=minitalk
TURN_PASSWORD=your_turn_password_here

JWT_SECRET=your_jwt_secret_min_32_chars_here
